// Variable overrides first
$primary: rgb(28, 0, 153);
$enable-shadows: true;
$prefix: "mo-";

$highlight: #e6f024ea;
$darkhighlight: #fde74c;

$dark: rgb(153, 0, 0);

    

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// add more custom code here 

/////////////////////////////////// BACKGROUND & ASSETS ////////////////////////////////////////////////////

body{
    // background: linear-gradient(180deg, #2E5E74ff, #406B79ff, #53787Dff, #658582ff, #789286ff, #8A9F8Bff, #9DAC8Fff, #AFB994ff, #C2C698ff, #D4D39Dff);
    background: linear-gradient(180deg, hsla(236, 100%, 8%, 1) 0%, hsla(199, 100%, 28%, 1) 100%);    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.styledbg {

    background-image:
    linear-gradient(180deg, rgba(3, 17, 81, 0.819), rgba(30, 44, 96, 0.139)),
    url('../assets/Homebg.jpg');
    height: 1010px;
    // margin: 10px;
    background-size: cover;
    padding-top: 300px;
    // background-image:
    // linear-gradient(180deg, rgba(0, 0, 0, 0.499), rgba(0, 0, 0, 0.471)),
    // url('../assets/abstract.png');
    // height: 1010px;
    // // margin: 10px;
    // background-size: cover;
    // padding-top: 300px;
    }

.aboutbg {
    background-image:
    linear-gradient(180deg, rgba(3, 17, 81, 0.819), rgba(30, 44, 96, 0.139)),
    url('../assets/About.jpg');
    height: 950px;
    // margin: 10px;
    background-size: cover;
    padding-top: 300px;

}

.bgcolor{
    background-color: red;
}

.bgcolortwo{
    // background-color: rgba($color: #9ece4b18, $alpha: 0.1);
    color: white;
    // border-bottom-style: double;

    // border-top-left-radius: 10%;
    // border-top-right-radius: 0%;

    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 80%;
    

}

.homebio{
    color: whitesmoke;
    padding: 100px;
    padding-top: 70px;
    
}

.profile{
    position: relative;
    max-width: 650px;
    max-height: 600;

    min-width: 500px;
    min-height: 450;
    padding-top: 40px;
    padding-left: 10px;
    // margin-left: -20px;
    // margin: 10px;
    // padding-right: 20px;
    // border: round;
    // border-radius: 5%;
}

.cardHead{
    max-width: 150px;
    max-height: 150px; 

    border-radius: 100%; 

}

.footerButtons{
    background-color: rgba(106, 18, 165, 0.126);
    border-radius: 100%;
    border-style: hidden;
}

.footerButtons:hover::before {

    box-shadow: 0 0 15px #ffee10;
  }

.footerButtons:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    border-radius: 100%;
    border-style: hidden;
    transition: all 0.4s ease 0s;

}

.underlineBox{
    border-bottom-style: solid;
    border-width:0.1em;
    border-color: rgba(255, 255, 255, 0.399);
    padding-bottom: 3px;

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: -15px;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////   TEXT ELEMENTS /////////////////////////////////

.bioTitle{
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    position: relative;
}

li{
    color: rgba(242, 254, 255, 0.859);
}

p{
    color: rgba(242, 254, 255, 0.859);
}

form{
    color: rgba(242, 254, 255, 0.859);
}

a{
    color: #ffffff; /* Set the desired text color (in this case, black) */
    text-decoration: none; /* Remove the underline */
}

.glowText{
    color: white;
}

.glowText:hover{
    color: #bbff0e;
    text-shadow: 0 0 5px #ffee10;
    transition: all 0.4s ease 0s;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// STYLE CLASSES /////////////////////////////////////////////////////////////////

.listDiv{
    background-color:rgba(226, 230, 1, 0.872);
}

#singledOut{
    color: rgba(131, 189, 205, 0.196);
}

.about{
    background-color: aqua;
}

.opacity{
    background: rgba(24, 12, 195, 0.185);
}

.testimonials{
    background-color: rgba(14, 42, 108, 0.471);
    justify-content: center;
    align-content: center;
}

.cardBody{
    background-color: rgba(18, 115, 176, 0.471);
    padding-top: 45px;
    padding-bottom: 65px;
    height: 100%;

    padding-left: 50px;
    padding-right: 50px;
    color: whitesmoke;
}



#testimonials {
    font-size: 4em;
    color: white;
    
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////-- NAVIGATION BAR --////////////////////////////////////////////////////////////

.navbar {
    min-height: 80px;
    font-size: 30px;
  }

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }

.navbar-nav{
    margin-left: auto;

    // padding-top: 26.5px;
    // padding-bottom: 26.5px;
    // line-height: 27px;
    // text-shadow: 0 0 1px rgb(255, 246, 78);
 } 

 .nav-link:hover{
    // text-shadow: 0px 0px 1px #7ab4ff;
    // background-color: darkcyan;

    // color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    // background-size: auto;


    color: #000000 !important;
    background: #f6b93b;
    border-color: #f63bda !important;
    transition: all 0.4s ease 0s;
    // padding: 1px;
    // margin-right: 1px;
 }

 .navbar-toggler {
    /* (80px - button height 34px) / 2 = 23px */
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }


////////////////////////////////////////////////////////////////////////////////
/* ------------------------------ About Section 1 ----------------------------- */

.about-section {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content {
    flex: 1;
    padding: 20px;
    border-right-style: solid;
    border-width:0.1em;
    border-color: rgba(255, 255, 255, 0.399);
    
}

.about-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.about-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 26px;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-content, .about-image {
        flex: 1 1 auto;
        border-right-style: none;

    }
}


////////////////////////////////////////////////////////////////////////////////
/* ------------------------------ About Section 2 ----------------------------- */

.about-section2 {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content2 {
    flex: 1;
    padding: 20px;
    border-left-style: solid;
    border-width:0.1em;
    border-color: rgba(255, 255, 255, 0.399);
    
}

.about-content2 h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.about-content2 h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about-content2 p {
    font-size: 26px;
}

.about-image2 {
    flex: 1;
    padding: 20px;
}

.about-image2 img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

@media (max-width: 768px) {
    .about-section2 {
        flex-direction: column;
    }

    .about-content2, .about-image {
        flex: 1 1 auto;
        border-left-style: none;

    }

    .about-image2 {
        order: 1; /* Adjust the order to place the image on top */
    }
}


/* --------------------------- About Certification -------------------------- */

.divider{
    border-top-style: solid;
    border-width:0.1em;
    border-color: rgba(255, 255, 255, 0.399);
    padding-top: 20px;
}


/* --------------------------- About Language Icons -------------------------- */



.programIcon{
    max-width: 140px;
    max-height: 140px;    
    transition: 1s box-shadow;
    border-style: round;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }
  

  
  .programIcon:hover {
    transition: 1s box-shadow;
    background: rgba(9, 54, 170, 0.835);
    box-shadow: 0 5px 35px 0px rgba(188, 255, 64, 0.835);
    animation: 1s counterclockwise infinite;
  }
  
  
  .programIcon:hover:after {
    background: #010002;
    animation: 0.5s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }


  /* ----------------------------- Projects Pcards ----------------------------- */


  
.Pcard {
    font-weight: bold;
    margin: 20px;
    background-color: rgba(39, 33, 61, 0.664); 
}

.Pcard:hover {
    transition: 0.40s ease;
    background-color: rgba(18, 14, 33, 0.689); 

    p{
        transition: 0.40s ease;
        color: rgba(255, 255, 255, 0.927); 
    }
}

a {
    text-decoration: none;
    color: white;
}

.Pcard-body {
    padding: 35px;
    border: 2px solid black;
    background-color: rgb(5, 0, 8);
    color: white;
    transition: 0.40s ease;
}

.Pcard-body:hover {
    transform: translate(-30px, -30px);
    border-color: white;
    background-color: rgba(5, 0, 8, 0.97);
    border-style: dashed;
}

.Pcard-body i {
    font-size: 60px;
    margin-top: 20px;
}

.Pcard-body h2 {
    margin: 20px 0 0;
}

.Pcard-body p {
    font-weight: normal;
    line-height: 1.5;
    color: rgba(134, 134, 134, 0.659);
}


.Pcard-body .link a {
    font-weight: bold;
    color: $highlight;
}


/* ------------------------- Upcoming Project cards ------------------------- */

.Ucard {
    font-weight: bold;
    margin: 20px;
    background-color: rgba(39, 33, 61, 0.664); 
}

.Ucard:hover {
    transition: 0.40s ease;
    background-color: rgba(18, 14, 33, 0.689); 

    p{
        transition: 0.40s ease;
        color: rgba(255, 255, 255, 0.927); 
    }
}

a {
    text-decoration: none;
    color: #e6f024ea;
}

.Ucard-body {
    padding: 35px;
    border: 2px solid rgb(14, 3, 72);
    background-color: rgb(14, 3, 72);
    color: #e6f024ea;
    transition: 0.40s ease;
}

.Ucard-body:hover {
    transform: translate(30px, 30px);
    border-color: rgba(18, 115, 176, 0.471);
    background-color: rgba(14, 1, 35, 0.97);
    border-style: dashed;
}

.Ucard-body i {
    font-size: 60px;
    margin-top: 20px;
}

.Ucard-body h2 {
    margin: 20px 0 0;
}

.Ucard-body p {
    font-weight: normal;
    line-height: 1.5;
    color: rgba(134, 134, 134, 0.659);
}


.Ucard-body .link a {
    font-weight: bold;
    color: $highlight;
}

